<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/exames.css">
    <title>Exames</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="nav-container">
                <div class="title">
                    <a  href="#">MedDoctoIA</a>
                </div>

            
                <ul >
                    <li><a class="item" href="/home">Home</a></li>
                    <li><a class="item" href="#about">Sobre</a></li>
                    <li><a class="item" href="#servicos">Serviços</a></li>
                    <li><a class="item" href="/team">Equipe</a></li>
                    <li><a class="item" href="/">Exames</a></li>
                </ul>
                   
            </nav>
        </header>

        <div class="content">
            <div class="card">
                <h1>Requisitos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Ullam neque harum veritatis molestiae doloribus 
                ipsam at illo explicabo nemo similique culpa, deleniti 
                magni reprehenderit facilis officiis iusto temporibus 
                
              </p>
                
            </div>
            <div class="card">
                <div class="img">
                    <img class="img" src="../static/images/logo.png" alt="">
                </div>
                <h1>Exames</h1>
                <div class="form">
                    <input type="file" name="" id="">
                    <div class="but">
                        <button  type="submit">Enviar</button>
                    </div>
                </div>
                
            </div>
           
            
        </div>

    </div>
    <footer>MedDoctoIA</footer>
    
</body>
</html>




