<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <title>MedDoctorIA - Formúlarios</title>
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <div class="text">
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/AB31/production/_90152834_thinkstockphotos-155317034.jpg" alt="">
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/AB31/production/_90152834_thinkstockphotos-155317034.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <h2>MedDoctorIA</h2>
                    <div class="title">Login</div>
                    <form action="" method="POST">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="email" placeholder="Informe seu e-mail" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Informe sua senha" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Entrar">
                            </div>
                            <div class="text sign-up-text">Não possui cadastro? <label for="flip">Cadastra-se</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <h2>MedDoctorIA</h2>
                    <div class="title">Cadastra-se</div>
                    <form action="" method="POST">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="username" placeholder="Informe seu nome" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="email" placeholder="Informe seu e-mail" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="informe sua senha" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Cadastra">
                            </div>
                            <div class="text sign-up-text">Já possui cadastro? <label for="flip">Login</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/51ba2077d4.js" crossorigin="anonymous"></script>
</body>

</html>