<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <title>MedDoctorIA - Team</title>
</head>
<body>
    <div class="card">
        <div class="card-image">
            <img src="" alt="Profile image">
        </div>
        <p class="name">João Paulo</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
            <button class="pinterest"><i class="fab fa-pinterest-p"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/hudson.jpeg" alt="Profile image">
        </div>
        <p class="name">Hudson</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="pinterest"><i class="fab fa-pinterest-p"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Borges</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>
    
    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Maria Luiza</p>
        <p>Redes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Mateus</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Abel Sérvio</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Marques</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/51ba2077d4.js" crossorigin="anonymous"></script>
</body>
</html>